
@if (submitted == false)
{
  <form [formGroup]="pollutionForm" (ngSubmit)="onSubmit()">

    <div>
      <label for="titre">Titre:</label>
      <input id="titre" type="text" formControlName="titre">
      @if (pollutionForm.get('titre')?.invalid)
      {
        <p class="error">Le titre est invalide.</p>
      }
    </div>

    <div>
      <label for="type">Type:</label>
      <select id="type" formControlName="type_pollution">
        @for (type of pollutionTypes; track type) {
          <option [value]="type">{{ type }}</option>
        }
      </select>
      @if (pollutionForm.get('type_pollution')?.invalid)
      {
        <p class="error">Sélectionnez un type.</p>
      }
    </div>

    <div>
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
      @if (pollutionForm.get('description')?.invalid)
      {
        <p class="error">La description est invalide.</p>
      }
    </div>

    <div>
      <label for="date">Date:</label>
      <input id="date" type="date" formControlName="date_observation">
      @if (pollutionForm.get('date_observation')?.invalid)
      {
        <p class="error">La date est invalide.</p>
      }
    </div>

    <div>
      <label for="lieu">Lieu:</label>
      <input id="lieu" type="text" formControlName="lieu">
      @if (pollutionForm.get('lieu')?.invalid)
      {
        <p class="error">Le lieu est invalide.</p>
      }
    </div>

    <div>
      <label for="longitude">Longitude:</label>
      <input id="longitude" type="number" formControlName="longitude" step="any">
      @if (pollutionForm.get('longitude')?.invalid)
      {
        <p class="error">La longitude est invalide.</p>
      }
    </div>

    <div>
      <label for="latitude">Latitude:</label>
      <input id="latitude" type="number" formControlName="latitude" step="any">
      @if (pollutionForm.get('latitude')?.invalid)
      {
        <p class="error">La latitude est invalide.</p>
      }
    </div>

    <div>
      <div>
        <label for="photoFile">Upload image:</label>
        <input id="photoFile" type="file" (change)="onFileChange($event)" accept="image/*" />
      </div>

      @if (previewSrc())
      {
        <div class="image-preview">
          <label>Aperçu :</label>
          <img src="{{ previewSrc() }}" alt="Aperçu" style="max-width:200px;max-height:200px;display:block;margin-top:8px;" />
        </div>
      }
    </div>

    <button type="submit" [disabled]="pollutionForm.invalid">
      {{ isEditMode ? 'Mettre à jour' : 'Soumettre' }}
    </button>
    
    <button type="button" (click)="cancel()">Annuler</button>
    
  </form>

}
@else
{
  <!-- "!" après pollution pour signifier qu'on est sûr qu'il n'est pas undefined -->
  <app-pollution-recap [pollution]="pollution ! " [isRecap]="true"></app-pollution-recap>
}
