<div class="recap-card">
  @if (isRecap)
  {
    <h2>Déclaration réussie</h2>

    <p><strong>Titre:</strong> {{ pollution.titre }}</p>
  }
  @else 
  {
    <h2>{{ pollution.titre }}</h2>
    @if (pollution.photo_base64)
    {
      <div class="thumb">
        <img [src]="pollution.photo_base64" alt="Miniature" style="max-width:120px;max-height:80px;display:block;margin-top:6px;" />
      </div>
    }
  }

  @if (isRecap || showDetail)
  {
    <p><strong>Type:</strong> {{ pollution.type_pollution  }}</p>
    <p><strong>Description:</strong> {{ pollution.description }}</p>
    <p><strong>Date:</strong> {{ pollution.date_observation | date:'mediumDate' }}</p>
    <p><strong>Lieu:</strong> {{ pollution.lieu }}</p>
    <p><strong>Longitude:</strong> {{ pollution.longitude }}</p>
    <p><strong>Latitude:</strong> {{ pollution.latitude }}</p>

    @if (pollution.photo_base64) 
    {
      <div class="photo">
        <strong>Photo:</strong><br>
        <img [src]="pollution.photo_base64" alt="Pollution Photo" width="300">
      </div>
    }

    @if (username$ | async; as username) 
    {
      <div class="pollution-author">
        Posted by: {{ username }}
      </div>
    }
  }

  @if (isRecap == false)
  {
    @if (showDetail)
    {
      <button (click)="changeShowDetail(false)">
        Cacher le détail
      </button>
    }
    @else
    {
      <button (click)="changeShowDetail(true)">
        Afficher le détail
      </button>
    }
  }
  @else
  {
    <button type="button" (click)="cancel()">Retour</button>
  }

</div>
